{% extends '::base.html.twig' %}
{% block body -%}
	<h1>Browse our sweet and refreshing sodas</h1>
		<ul>
			
				{% for soda in sodas %}
					<li>{{soda.title}} | Quantity: {{soda.quantity}} </br>Price : {{soda.price}} DKK </br> Description : {{soda.description}}</li>
				{% endfor %}

		</ul>
	<p><a href="{{path('order_new')}}">Click to make your order</a> </p>
{% endblock %}